/***********************************
***                              ***
***      GAME STYLES SHEET       ***
***                              ***
***********************************/

/** GENERAL GAME PAGE STUFF **/

#game_popout_wrapper {

  width: 100vw;
  height: 100vh;

  top: 50%;
  left: 50%;

  position: absolute;

  z-index: 1000;

  background: rgba(0, 0, 0, 0.4);

  display: none;

  animation: center_grow 0.5s forwards;

}

#game_popout_wrapper canvas {

  width: 1280px;
  aspect-ratio: 16 / 9;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: inherit;

  transform: translateX(-50%) translateY(-50%);

  background: black;

  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);

}

#close_minigame_button {
  padding: 0;
  margin: 0;

  top: 1rem;
  left: 1rem;

  position: relative;

  width: 32px;

  z-index: 1100;

  background-color: white;

  aspect-ratio: 1 / 1;
}

/* END GENERAL GAME STUFF*

/** BLACKJACK STUFF **/



/** END BLACKJACK STUFF **/

