/***********************************
***                              ***
***      GAME STYLES SHEET       ***
***                              ***
***********************************/

/** GENERAL GAME PAGE STUFF **/

#game_popout_wrapper {

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  position: absolute;

  z-index: 1000;

  display: none;

}

#game_popout_wrapper #game_background_fader {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  
  background: rgba(0, 0, 0, 0.6);

  animation: fadeIn 2s forwards;
}

#game_popout_wrapper #game_wrapper {
  z-index: 1200;

  width: 1280px;
  aspect-ratio: 16 / 9;

  position: absolute;
  z-index: inherit;

  padding: 0;
  margin: 0;

  top: 50%;
  left: 50%;

  animation: center_grow 0.5s forwards;

  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

#game_popout_wrapper canvas {

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  padding: 0;
  margin: 0;

  background: black;
}

#close_minigame_button {
  padding: 0;
  margin: 0;

  top: 1rem;
  left: 1rem;

  position: relative;

  width: 32px;

  background-color: white;

  aspect-ratio: 1 / 1;
}

/* END GENERAL GAME STUFF*

/** BLACKJACK STUFF **/



/** END BLACKJACK STUFF **/

